:root{
    --gap40: 2.5rem;
    --padding20: 1.25rem;
    --cor-12: #000;
    --cor-11:#111;
    --cor-10:#2e2e2e;
    --cor-9:#404040;
    --cor-8:#595959;
    --cor-7:#717171;
    --cor-6:#9c9c9c;
    --cor-5: #b2b2b2;
    --cor-4:#cccccc;
    --cor-3:#dedede;
    --cor-2:#ededed;
    --cor-1:#f7f7f7;
    --cor-0:#fff;
    
    --cor-p1:#ffbb00;
    --cor-p2:#e4a30b;
    --cor-p3:#a66f00;
    --cor-p4:#664400;
    --cor-p5:#332200;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
}

.form label{
    display: block;
    font: 400 1rem/1.5 "Poppins", sans-serif;
}

.form .col-2{
    grid-column: span 2;
}

.form input[type="text"],
.form input[type="email"],
form textarea{
    font: 400 1rem/1.5 "Roboto", sans-serif;
    background-color: var(--cor-1);
    padding: 12px;
    border-radius: 4px;
    width: 100%;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
form textarea:focus{
outline: none;
border-color: var(--cor-p1);
background-color: var(--cor-0);
box-shadow: 0 0 0 2px #fea;
}

/*======================== RESPONSIVIDADE======================*/


@media (max-width:600px){

    .form{
        grid-template-columns: 1fr;
    }
   .form .col-2{
    grid-column: 1;
   }
}